.img-servicios{
    width: 300px;
    height: 200px;
}

.columna{
    float: left;
    padding: 50px;
}

.section-servicios, p{
    clear: left;
}

.section-servicios{
    margin-top: 50px;
}

.service-container{
    text-align: center;
}

#container-main{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.font-body{
    font-family: "Fira Sans",sans-serif;
    
}

.footer{
    clear: right;
}
